@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#h1{
	font-family: 'Roboto', sans-serif;
	margin-left: 3%;
	padding-top: 3%;
	color: #FAA510;
	font-weight: 700;
	
}

#nomePLACA{
	font-family: 'Roboto', sans-serif;
	font-size: 122%;
	margin-top: -2%;
	color: #FAA510;
	font-weight: 600;

}


#div1 {
	background-color: #fff;
	padding-left: 4%;
	padding-right: 6%;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 35%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	margin-left: 3%;
}

#imagem {
	width: 50%;
	height: 50%;
	margin-left: -10%;
	padding-right: 9%;
}



 .final{
   
   margin-top: 23%; 
   margin-left: 3%;
   border-radius: 5px;
   background-color: red;
   padding: 2px;
   height: 15%;
   color: #FFF; 
   font-weight: bold;
   text-decoration: none;
   
	
}

#cadastrar{
	margin-left: 3.5%;
	background-color: #FAA510;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 11px 6px 11px;
}

#quantidade{
	margin-left: 3.2%;
	background-color: #D9D9D9;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
}


/* header e footer */

#footer{
	display: flex;
	bottom: 0;
	width: 100vw;
}    


#rodape{
	margin: 0;
	width: 100vw;
}

#nome{
	padding-left: 3%;
	 font-size: 30px;
	font-weight: bold;
}




#footer{
	margin-top: 15%;
	width: 100%;
	background-color: #D9D9D9;
}

#body{
	background-color: #D9D9D9;
  

}


@media (max-width: 300px){

#div1 {
	width: 95%;
}

.final{
	margin-top: 20%;
	margin-left: 0%;
	padding: 0px;

 }	

#nomePLACA{
	font-size: 80%;
	margin-top: 1%;
}

#imagem {
	width: 40%;
	margin-left: -1%;
	margin-top: 2.5%;
}
}

@media (min-width: 281px) and (max-width: 375px){

	#div1 {
		width: 90%;
	}
	
	#final{
		margin-top: 20%;
		margin-left: 0%;
		padding: 1px;
	
	 }	
	
	#nomePLACA{
		font-size: 80%;
		margin-top: 1%;
	}
	
	#imagem {
		width: 40%;
		margin-left: -1%;
		margin-top: 1%;
	}
	}


	@media (min-width: 376px) and (max-width: 414px){

		#div1 {
			width: 95%;
		}
		
		#final{
			margin-top: 23%;
			margin-left: -10%;
		
		 }	
		
		#nomePLACA{
			font-size: 90%;
			margin-top: 3%;
		}
		
		#imagem {
			width: 40%;
			margin-left: -1%;
			margin-top: 1%;
		}
		}

		@media (min-width: 412px) and (max-width: 540px){

			#div1 {
				width: 90%;
			}
			
			#final{
				margin-top: 23%;
				margin-left: -10%;
			
			 }	
			
			#nomePLACA{
				font-size: 100%;
				margin-top: 3%;
			}
			
			#imagem {
				width: 40%;
				margin-left: -1%;
				margin-top: 1%;
			}
			}

@media (min-width: 541px) and (max-width: 912px){

			#div1 {
				width: 70%;
			}
			
			#final{
				margin-top: 23%;
				margin-left: -1%;
				width: 20%;
				height: 30px;
			
			 }	
			
			#nomePLACA{
				font-size: 115%;
				margin-top: 3%;
			}
			
			#imagem {
				width: 40%;
				margin-left: -1%;
				margin-top: 1%;
			}
			}		


			@media (min-width: 1024px) and (max-width: 1280px){

				#div1 {
					width: 40%;
				}
				
				#final{
					margin-top: 24%;
					margin-left: -1%;
					width: 30%;
					height: 30px;
				
				 }	
				
				#nomePLACA{
					font-size: 115%;
					margin-top: -1%;
				}
				
				#imagem {
					width: 40%;
					margin-left: -1%;
					margin-top: 1%;
				}
				}		

				@media only screen and (max-width: 420px) {
        
					#nome{
						font-size: 20px;
					}
				
					#login_button{
						padding-left: 7%;
					}
				}
				
				@media only screen and (max-width: 340px) {
					
					#nome{
						font-size: 15px;
					}
				
					#login_button{
						padding-left: 5%;
					}
				
					.title{
						font-size: 20px;
					}
				}
				
				
				@media only screen and (max-width: 300px) {
					
					#nome{
						font-size: 13px;
					}
				
					#login_button{
						padding-left: 3%;
					}
				}
				